.form {
    width: 95%;
    min-width: 760px;
    padding: 20px;
    margin: auto;
}

.inputs-wrap {
    margin: auto;
    width: 760px;
}

.form-add {
    border-bottom: 2px solid black;
}

.form-filter {
    border-top: 3px solid black;
}

input {
    width: 150px;
    height: 25px;
    margin: 40px;
}

