table {
    border-collapse: collapse;
}

td.list-item-header-date {
    min-width: 100px;
}
.list {
    border: 1px solid black;
    width: 50%;
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.list-item {
    border-bottom: 1px solid green;
    padding: 10px;
}

.list-header {
    border-bottom: 1px solid black;
}

/* .list-item-date {
    float: left;
} */

.list-item-delete:hover {
    cursor: pointer;
    outline: 1px solid black;
    opacity: 1;
    /* border: 1px  solid grey; */
} 

.list-item-delete:active {
    transform: scale(0.9)
}

/* .list-item-delete::before, .list-item-delete::after {
    position: absolute;
    width: 5px;
    height:  30px;
    left: 340px;
    top: -23px;
    content: ' ';
    background-color: red;
    z-index: 100;
    transform: rotate(45deg);
}

.list-item-delete::before {
    transform: rotate(-45deg);
} */

.list-item-delete {
    background-color: red;
    opacity: 0.4;
}

.list-item-checked {
    background-color: rgb(216, 240, 250);
}

td {
    padding: 10px;
}

td.list-item-text,
td.list-item-header-text {
    width: 100%;
}

.list-header {
    font-weight: bold;
}

.list-item-header-date:hover,
.list-item-header-text:hover {
    cursor: pointer;
    background-color: rgb(255, 240, 221);
}

.list-item:hover {
    background-color: rgba(250, 235, 217, 0.432);
}

.list-item-check {
    background-color: blue;
    opacity: 0;
}

.list-item-checked .list-item-check {
    opacity: 1;
}
